## **Apriori and TBAR algorithms**
by Eva Aßmann, Paul Vogler

# Explore Dataset

In [0]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [0]:
#-------------------------------------------------------------------------------------------
#Dataset from  (http://archive.ics.uci.edu/ml/datasets/Online+Retail)
#using code from https://www.edureka.co/blog/apriori-algorithm/
#-------------------------------------------------------------------------------------------
df = pd.read_excel("Online Retail.xlsx")
# df = pd.read_csv("Online Retail.xlsx", sep=";") 
df.head()

In [0]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

* InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.
* StockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.
* Description: Product (item) name. Nominal.
* Quantity: The quantities of each product (item) per transaction. Numeric.
* InvoiceDate: Invice Date and time. Numeric, the day and time when each transaction was generated.
* UnitPrice: Unit price. Numeric, Product price per unit in sterling.
* CustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.
* Country: Country name. Nominal, the name of the country where each customer resides.

In [0]:
df.shape

(65534, 8)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 8 columns):
InvoiceNo      65534 non-null object
StockCode      65534 non-null object
Description    65368 non-null object
Quantity       65534 non-null int64
InvoiceDate    65534 non-null object
UnitPrice      65534 non-null object
CustomerID     40218 non-null float64
Country        65534 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 4.0+ MB

In [0]:
df.describe()

           Quantity    CustomerID
count  65534.000000  40218.000000
mean       8.363231  15384.033517
std      413.697637   1766.863499
min   -74215.000000  12346.000000
25%        1.000000  14001.000000
50%        2.000000  15358.000000
75%        8.000000  17019.000000
max    74215.000000  18283.000000

## Analyse InvoiceNo values

In [0]:
[elem for elem in df.InvoiceNo if len(elem)<6]

[]

In [0]:
# Special InvoiceNo labels
set([elem[0] for elem in df.InvoiceNo.unique() if elem[0].isalpha() ])

{'C'}

In [0]:
df[df.InvoiceNo.str.startswith("A")]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

## Analyse StockCode values
Values deviating from predefined format (5-digits id)

In [0]:
set([elem for elem in df.StockCode if len(elem)<5])

{'C2', 'D', 'DOT', 'M', 'POST', 'S', 'm'}

In [0]:
df[df.StockCode.str.startswith("B")][df.StockCode!="B"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

      InvoiceNo     StockCode  ... CustomerID         Country
4406     536779  BANK CHARGES  ...    15823.0  United Kingdom
14435   C537572  BANK CHARGES  ...        NaN  United Kingdom
28992   C538680  BANK CHARGES  ...        NaN  United Kingdom
62508    541505  BANK CHARGES  ...    15939.0  United Kingdom
64573   C541653  BANK CHARGES  ...        NaN  United Kingdom

[5 rows x 8 columns]

In [0]:
df[df.StockCode.str.contains("CRUK")]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [0]:
df[df.StockCode.str.contains("C2")]

      InvoiceNo StockCode Description  ...  UnitPrice CustomerID          Country
1423     536540        C2    CARRIAGE  ...         50    14911.0             EIRE
12119    537368        C2    CARRIAGE  ...         50    14911.0             EIRE
12452    537378        C2    CARRIAGE  ...         50    14911.0             EIRE
19975    537963        C2    CARRIAGE  ...         50    13369.0   United Kingdom
20016    538002        C2    CARRIAGE  ...         50    14932.0  Channel Islands
34369    539337        C2    CARRIAGE  ...         50        NaN             EIRE
34725    539421        C2    CARRIAGE  ...         50    14016.0             EIRE
37644    539473        C2    CARRIAGE  ...         50    14911.0             EIRE
39777    539688        C2    CARRIAGE  ...        150    12678.0           France
42332    539984        C2    CARRIAGE  ...         50    14911.0             EIRE
44302   C540164        C2    CARRIAGE  ...         50    14911.0             EIRE
50141    540547        C2    CARRIAGE  ...         50    14911.0             EIRE
61634    541434        C2    CARRIAGE  ...         50    14911.0             EIRE

[13 rows x 8 columns]

In [0]:
df[df.StockCode.str.contains("M")]

      InvoiceNo StockCode  ... CustomerID         Country
918      536500    46000M  ...    17377.0  United Kingdom
2141     536562    79302M  ...    13468.0  United Kingdom
2239     536569         M  ...    16274.0  United Kingdom
2250     536569         M  ...    16274.0  United Kingdom
2423     536591    90214M  ...    14606.0  United Kingdom
...         ...       ...  ...        ...             ...
64314    541597    46000M  ...    14031.0  United Kingdom
64569   C541650         M  ...        NaN  United Kingdom
64570   C541651         M  ...        NaN  United Kingdom
64663    541658         M  ...    15529.0  United Kingdom
65328    541695    47310M  ...        NaN  United Kingdom

[123 rows x 8 columns]

In [0]:
df[df.StockCode.str.contains("m")]

      InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
40383    539736         m      Manual  ...       2,55        NaN  United Kingdom

[1 rows x 8 columns]

In [0]:
df[df.StockCode.str.contains("PADS")]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [0]:
df[df.StockCode.str.contains("POST")]

      InvoiceNo StockCode Description  ...  UnitPrice CustomerID         Country
45       536370      POST     POSTAGE  ...         18    12583.0          France
386      536403      POST     POSTAGE  ...         15    12791.0     Netherlands
1123     536527      POST     POSTAGE  ...         18    12662.0         Germany
5073     536840      POST     POSTAGE  ...         18    12738.0         Germany
5258     536852      POST     POSTAGE  ...         18    12686.0          France
...         ...       ...         ...  ...        ...        ...             ...
63402    541567      POST     POSTAGE  ...         18    12681.0          France
63437    541569      POST     POSTAGE  ...         40    13520.0     Switzerland
64419    541607      POST     POSTAGE  ...      29,43        NaN  United Kingdom
64522    541631      POST     POSTAGE  ...         18    12637.0          France
64815    541675      POST     POSTAGE  ...         15    12402.0         Belgium

[121 rows x 8 columns]

## Analyse Description
- contains nan
- items are upper case
- unspecified additional info is lowercase (faulty, mixed up, amazon, thrown away-can't sale)
  - not consistently formatted
  - .....amazon and check exists as upper and lower case..?? is there more overlap??

In [0]:
for elem in df.Description.unique():
  if type(elem) == str and elem.replace(" ","").isupper() and len(elem)<10:
    print(elem)

POSTAGE
CARRIAGE
BINGO SET
SPACE OWL
SOMBRERO
SAMPLES

In [0]:
for elem in df.Description.unique():
  if type(elem) == str and elem.replace(" ","").islower():
    print(elem)

amazon
check
damages
faulty
amazon sales
reverse 21/5/10 adjustment
mouldy, thrown away.
found
counted

In [0]:
df[df.Description=="wet"]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

## Analyse Quantity
- There are negative quantities

In [0]:
df.Quantity.describe()

count    65534.000000
mean         8.363231
std        413.697637
min     -74215.000000
25%          1.000000
50%          2.000000
75%          8.000000
max      74215.000000
Name: Quantity, dtype: float64

In [0]:
df[df.Quantity<0].shape, df[df.Quantity>0].shape, df[df.Quantity==0.0].shape

((1192, 8), (64342, 8), (0, 8))

In [0]:
df[df.Quantity<0]

      InvoiceNo StockCode  ... CustomerID         Country
141     C536379         D  ...    14527.0  United Kingdom
154     C536383    35004C  ...    15311.0  United Kingdom
235     C536391     22556  ...    17548.0  United Kingdom
236     C536391     21984  ...    17548.0  United Kingdom
237     C536391     21983  ...    17548.0  United Kingdom
...         ...       ...  ...        ...             ...
65097   C541693     22636  ...    14309.0  United Kingdom
65098   C541693     84945  ...    14309.0  United Kingdom
65099   C541694     22440  ...    17364.0  United Kingdom
65100   C541694     22437  ...    17364.0  United Kingdom
65101   C541694     22423  ...    17364.0  United Kingdom

[1192 rows x 8 columns]

## Analyse InvoiceDate

In [0]:
#[elem for elem in df.InvoiceDate.unique() if len(elem)<13]

## Analyse UnitPrice
- There are negative unit prices

In [0]:
df.UnitPrice.describe()

count     65534
unique      427
top        1,25
freq       5320
Name: UnitPrice, dtype: object

In [0]:
#df[df.UnitPrice<0].shape, df[df.UnitPrice>0].shape, df[df.UnitPrice==0].shape

In [0]:
#df[df.UnitPrice<0]

In [0]:
df[df.UnitPrice==0]

       InvoiceNo StockCode  ... CustomerID         Country
622       536414     22139  ...        NaN  United Kingdom
1970      536545     21134  ...        NaN  United Kingdom
1971      536546     22145  ...        NaN  United Kingdom
1972      536547     37509  ...        NaN  United Kingdom
1987      536549    85226A  ...        NaN  United Kingdom
...          ...       ...  ...        ...             ...
536981    581234     72817  ...        NaN  United Kingdom
538504    581406    46000M  ...        NaN  United Kingdom
538505    581406    46000S  ...        NaN  United Kingdom
538554    581408     85175  ...        NaN  United Kingdom
538919    581422     23169  ...        NaN  United Kingdom

[2515 rows x 8 columns]

## Analyse CustomerID
- Conatins nan entries

In [0]:
[elem for elem in df.CustomerID if type(elem)==str and len(elem)<5]

[]

In [0]:
df[df.CustomerID.isnull()]

       InvoiceNo StockCode  ... CustomerID         Country
622       536414     22139  ...        NaN  United Kingdom
1443      536544     21773  ...        NaN  United Kingdom
1444      536544     21774  ...        NaN  United Kingdom
1445      536544     21786  ...        NaN  United Kingdom
1446      536544     21787  ...        NaN  United Kingdom
...          ...       ...  ...        ...             ...
541536    581498    85099B  ...        NaN  United Kingdom
541537    581498    85099C  ...        NaN  United Kingdom
541538    581498     85150  ...        NaN  United Kingdom
541539    581498     85174  ...        NaN  United Kingdom
541540    581498       DOT  ...        NaN  United Kingdom

[135080 rows x 8 columns]

## Analyse Country

In [0]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

# Data Cleaning
- Missing values in Description field
- Cancelled transactions
- Negative quantities (negative unit prices)
- Missing values in CustomerID

In [0]:
# originally 10624 transactions with negative quantities and 2 transactions with negative unit prices
#df[df.Quantity < 0].shape, df[df.UnitPrice < 0].shape

In [0]:
# originally 9288 cancelled transactions
df[df.InvoiceNo.str.startswith("C")].shape

(1084, 8)

In [0]:
# originally 1454 nans in Description and 135080 nans in CustomerID
for elem in df.columns:
  print(elem)
  print(df[df[elem].isnull()].shape)

InvoiceNo
(0, 8)
StockCode
(0, 8)
Description
(166, 8)
Quantity
(0, 8)
InvoiceDate
(0, 8)
UnitPrice
(0, 8)
CustomerID
(25316, 8)
Country
(0, 8)

In [0]:
# drop nan description rows
df = df[~df.Description.isnull()]
df['Description'] = df['Description'].str.strip()

In [0]:
# drop cancelled transactions
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df.InvoiceNo.str.startswith("C")]
# remaining 474 negative quantities and 133243 nan customer ids

In [0]:
df[df.Quantity<0].Description.unique()

array(['?', 'check', 'damages', 'faulty', 'Dotcom sales',
       'reverse 21/5/10 adjustment', 'mouldy, thrown away.', 'counted',
       'Given away', 'Dotcom'], dtype=object)

In [0]:
# cant do informative association rule analysis with these descriptions, so drop all negative quantities (comprising negative unit prices)
df = df[~df.Quantity<0]
# remaining 132769 nan customer ids

In [0]:
# keep entries with nan customer id, since customer id is not relevant for associatino rules analysis
# insert dummy value instead
df[df.CustomerID.isnull()] = "no_data"

In [0]:
#df.dropna(axis = 0, subset =['InvoiceNo'], inplace = True) 
#df['InvoiceNo'] = df['InvoiceNo'].astype('str')

In [0]:
df.shape

(64266, 8)

In [0]:
df.tail(4)

       InvoiceNo StockCode  ... CustomerID Country
541905    581587     22899  ...      12680  France
541906    581587     23254  ...      12680  France
541907    581587     23255  ...      12680  France
541908    581587     22138  ...      12680  France

[4 rows x 8 columns]

# Preprocessing

In [0]:
# Transactions done in France 
basket_france = (df[df['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
basket_france

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                          0.0  ...                              0.0
536852                          0.0  ...                              0.0
536974                          0.0  ...                              0.0
537065                          0.0  ...                              0.0
537463                          0.0  ...                              0.0
...                             ...  ...                              ...
580986                          0.0  ...                              0.0
581001                          0.0  ...                              0.0
581171                          0.0  ...                              0.0
581279                          0.0  ...                              0.0
581587                          0.0  ...                              0.0

[389 rows x 1543 columns]

In [0]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets_france = basket_france.applymap(encode_units)
basket_sets_france.drop('POSTAGE', inplace=True, axis=1)
basket_sets_france

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                            0  ...                                0
536852                            0  ...                                0
536974                            0  ...                                0
537065                            0  ...                                0
537463                            0  ...                                0
...                             ...  ...                              ...
580986                            0  ...                                0
581001                            0  ...                                0
581171                            0  ...                                0
581279                            0  ...                                0
581587                            0  ...                                0

[389 rows x 1542 columns]

# Apriori Algorithm

In [0]:
# using the mlxtend library http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
from mlxtend.frequent_patterns import apriori, association_rules

In [0]:
import time
start = time.time()
frequent_itemsets = apriori(basket_sets_france, min_support=0.07, use_colnames=True)
end = time.time()
print("Time Taken in seconds is:")
print(end-start)
frequent_itemsets

Time Taken in seconds is:
0.045038700103759766

     support                                           itemsets
0   0.071979                      (4 TRADITIONAL SPINNING TOPS)
1   0.097686                       (ALARM CLOCK BAKELIKE GREEN)
2   0.102828                        (ALARM CLOCK BAKELIKE PINK)
3   0.095116                         (ALARM CLOCK BAKELIKE RED)
4   0.077121                     (BAKING SET 9 PIECE RETROSPOT)
5   0.071979                     (CHILDRENS CUTLERY DOLLY GIRL)
6   0.100257                             (DOLLY GIRL LUNCH BOX)
7   0.097686                          (JUMBO BAG RED RETROSPOT)
8   0.077121                       (JUMBO BAG WOODLAND ANIMALS)
9   0.125964                           (LUNCH BAG APPLE DESIGN)
10  0.084833                      (LUNCH BAG DOLLY GIRL DESIGN)
11  0.154242                          (LUNCH BAG RED RETROSPOT)
12  0.120823                        (LUNCH BAG SPACEBOY DESIGN)
13  0.118252                               (LUNCH BAG WOODLAND)
14  0.143959                 (LUNCH BOX WITH CUTLERY RETROSPOT)
15  0.105398                           (MINI PAINT SET VINTAGE)
16  0.102828                  (PACK OF 72 RETROSPOT CAKE CASES)
17  0.082262                          (PAPER BUNTING RETROSPOT)
18  0.169666                    (PLASTERS IN TIN CIRCUS PARADE)
19  0.136247                         (PLASTERS IN TIN SPACEBOY)
20  0.082262                        (PLASTERS IN TIN STRONGMAN)
21  0.172237                 (PLASTERS IN TIN WOODLAND ANIMALS)
22  0.187661                               (RABBIT NIGHT LIGHT)
23  0.097686                      (RED RETROSPOT CHARLOTTE BAG)
24  0.138817                         (RED RETROSPOT MINI CASES)
25  0.071979                         (RED RETROSPOT PICNIC BAG)
26  0.179949                    (RED TOADSTOOL LED NIGHT LIGHT)
27  0.125964                         (REGENCY CAKESTAND 3 TIER)
28  0.087404                  (RETROSPOT TEA SET CERAMIC 11 PC)
29  0.107969                (ROUND SNACK BOXES SET OF 4 FRUITS)
30  0.159383               (ROUND SNACK BOXES SET OF4 WOODLAND)
31  0.077121                (SET/10 RED POLKADOT PARTY CANDLES)
32  0.133676               (SET/20 RED RETROSPOT PAPER NAPKINS)
33  0.138817                      (SET/6 RED SPOTTY PAPER CUPS)
34  0.128535                    (SET/6 RED SPOTTY PAPER PLATES)
35  0.071979                           (SPACEBOY BIRTHDAY CARD)
36  0.125964                               (SPACEBOY LUNCH BOX)
37  0.123393                (STRAWBERRY LUNCH BOX WITH CUTLERY)
38  0.095116                          (TEA PARTY BIRTHDAY CARD)
39  0.074550                           (WOODLAND CHARLOTTE BAG)
40  0.074550  (ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...
41  0.079692  (ALARM CLOCK BAKELIKE RED, ALARM CLOCK BAKELIK...
42  0.074550  (ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...
43  0.071979         (SPACEBOY LUNCH BOX, DOLLY GIRL LUNCH BOX)
44  0.089974  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
45  0.102828  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
46  0.105398  (PLASTERS IN TIN SPACEBOY, PLASTERS IN TIN WOO...
47  0.102828  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...
48  0.102828  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...
49  0.123393  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...
50  0.100257  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...

In [0]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
print(rules.shape)
rules.head(10)

(26, 9)

                       antecedents  ... conviction
0      (ALARM CLOCK BAKELIKE PINK)  ...   3.281140
1     (ALARM CLOCK BAKELIKE GREEN)  ...   3.788061
2       (ALARM CLOCK BAKELIKE RED)  ...   5.564267
3     (ALARM CLOCK BAKELIKE GREEN)  ...   4.912229
4      (ALARM CLOCK BAKELIKE PINK)  ...   3.290488
5       (ALARM CLOCK BAKELIKE RED)  ...   4.149422
6             (SPACEBOY LUNCH BOX)  ...   2.099400
7           (DOLLY GIRL LUNCH BOX)  ...   3.098855
8  (PLASTERS IN TIN CIRCUS PARADE)  ...   1.838958
9       (PLASTERS IN TIN SPACEBOY)  ...   2.444873

[10 rows x 9 columns]

**Filter the Dataframe for a high lift and high confidence**

In [0]:
rules[ (rules['lift'] >= 6) & (rules['confidence'] >= 0.8) ]

                                          antecedents  ... conviction
2                          (ALARM CLOCK BAKELIKE RED)  ...   5.564267
3                        (ALARM CLOCK BAKELIKE GREEN)  ...   4.912229
18                      (SET/6 RED SPOTTY PAPER CUPS)  ...   7.843188
19                    (SET/6 RED SPOTTY PAPER PLATES)  ...  21.529563
20  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...  ...  34.858612
21  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...  ...   4.620394
22  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.447301

[7 rows x 9 columns]

# TBAR Algorithm

**Transform the basket_sets_france so that for each row in the transaction table all columns with 0 would be omitted and for all columns with value 1 the column number would be in that row to fit the TBAR algorithm input:**

In [0]:
rowlist = []
for row in range(basket_sets_france.shape[0]):
  collist = []
  for col in range(basket_sets_france.shape[1]):
    if basket_sets_france.iloc[row][col] == 1:
        collist += [int(col)]
  if len(collist) > 0:
    rowlist += [collist]

In [0]:
import csv

with open("transformed.txt", "w", newline="") as f:
    writer = csv.writer(f, delimiter=' ')
    writer.writerows(rowlist)

code from https://github.com/AVINASH793/Apriori-Algorithm-using-Hashtree/blob/master/Apriori_Hashtree.py

In [0]:
import itertools
import time

#take input of file name and minimum support count
print("Enter the filename:")
filename = input()
print("Enter the minimum support count:")
min_support = int(input())

#read data from txt file
with open(filename) as f:
    content = f.readlines()

content = [x.strip() for x in content]

Transaction = []                  #to store transaction
Frequent_items_value = {}         #to store all frequent item sets

#to fill values in transaction from txt file
for i in range(0,len(content)):
    Transaction.append(content[i].split())

#function to get frequent one itemset
def frequent_one_item(Transaction,min_support):
    candidate1 = {}

    for i in range(0,len(Transaction)):
        for j in range(0,len(Transaction[i])):
            if Transaction[i][j] not in candidate1:
                candidate1[Transaction[i][j]] = 1
            else:
                candidate1[Transaction[i][j]] += 1

    frequentitem1 = []                      #to get frequent 1 itemsets with minimum support count
    for value in candidate1:
        if candidate1[value] >= min_support:
            frequentitem1 = frequentitem1 + [[value]]
            Frequent_items_value[tuple(value)] = candidate1[value]

    return frequentitem1

values = frequent_one_item(Transaction,min_support)
#print(values)
#print(Frequent_items_value)


# to remove infrequent 1 itemsets from transaction
Transaction1 = []
for i in range(0,len(Transaction)):
    list_val = []
    for j in range(0,len(Transaction[i])):
        if [Transaction[i][j]] in values:
            list_val.append(Transaction[i][j])
    Transaction1.append(list_val)


#class of Hash node
class Hash_node:
    def __init__(self):
        self.children = {}           #pointer to its children
        self.Leaf_status = True      #to know the status whether current node is leaf or not
        self.bucket = {}             #contains itemsets in bucket

#class of constructing and getting hashtree
class HashTree:
    # class constructor
    def __init__(self, max_leaf_count, max_child_count):
        self.root = Hash_node()
        self.max_leaf_count = max_leaf_count
        self.max_child_count = max_child_count
        self.frequent_itemsets = []

    # function to recursive insertion to make hashtree
    def recursively_insert(self, node, itemset, index, count):
        if index == len(itemset):
            if itemset in node.bucket:
                node.bucket[itemset] += count
            else:
                node.bucket[itemset] = count
            return

        if node.Leaf_status:                             #if node is leaf
            if itemset in node.bucket:
                node.bucket[itemset] += count
            else:
                node.bucket[itemset] = count
            if len(node.bucket) == self.max_leaf_count:  #if bucket capacity increases
                for old_itemset, old_count in node.bucket.items():

                    hash_key = self.hash_function(old_itemset[index])  #do hashing on next index
                    if hash_key not in node.children:
                        node.children[hash_key] = Hash_node()
                    self.recursively_insert(node.children[hash_key], old_itemset, index + 1, old_count)
                #since no more requirement of this bucket
                del node.bucket
                node.Leaf_status = False
        else:                                            #if node is not leaf
            hash_key = self.hash_function(itemset[index])
            if hash_key not in node.children:
                node.children[hash_key] = Hash_node()
            self.recursively_insert(node.children[hash_key], itemset, index + 1, count)

    def insert(self, itemset):
        itemset = tuple(itemset)
        self.recursively_insert(self.root, itemset, 0, 0)

    # to add support to candidate itemsets. Transverse the Tree and find the bucket in which this itemset is present.
    def add_support(self, itemset):
        Transverse_HNode = self.root
        itemset = tuple(itemset)
        index = 0
        while True:
            if Transverse_HNode.Leaf_status:
                if itemset in Transverse_HNode.bucket:    #found the itemset in this bucket
                    Transverse_HNode.bucket[itemset] += 1 #increment the count of this itemset.
                break
            hash_key = self.hash_function(itemset[index])
            if hash_key in Transverse_HNode.children:
                Transverse_HNode = Transverse_HNode.children[hash_key]
            else:
                break
            index += 1

    # to transverse the hashtree to get frequent itemsets with minimum support count
    def get_frequent_itemsets(self, node, support_count,frequent_itemsets):
        if node.Leaf_status:
            for key, value in node.bucket.items():
                if value >= support_count:                       #if it satisfies the condition
                    frequent_itemsets.append(list(key))          #then add it to frequent itemsets.
                    Frequent_items_value[key] = value
            return

        for child in node.children.values():
            self.get_frequent_itemsets(child, support_count,frequent_itemsets)

    # hash function for making HashTree
    def hash_function(self, val):
        return int(val) % self.max_child_count

#To generate hash tree from candidate itemsets
def generate_hash_tree(candidate_itemsets, max_leaf_count, max_child_count):
    htree = HashTree(max_child_count, max_leaf_count)             #create instance of HashTree
    for itemset in candidate_itemsets:
        htree.insert(itemset)                                     #to insert itemset into Hashtree
    return htree

#to generate subsets of itemsets of size k
def generate_k_subsets(dataset, length):
    subsets = []
    for itemset in dataset:
        subsets.extend(map(list, itertools.combinations(itemset, length)))
    return subsets

def subset_generation(ck_data,l):
    return map(list,set(itertools.combinations(ck_data,l)))

#apriori generate function to generate ck
def apriori_generate(dataset,k):
    ck = []
    #join step
    lenlk = len(dataset)
    for i in range(lenlk):
        for j in range(i+1,lenlk):
            L1 = list(dataset[i])[:k - 2]
            L2 = list(dataset[j])[:k - 2]
            if L1 == L2:
                ck.append(sorted(list(set(dataset[i]) | set(dataset[j]))))

    #prune step
    final_ck = []
    for candidate in ck:
        all_subsets = list(subset_generation(set(candidate), k - 1))
        found = True
        for i in range(len(all_subsets)):
            value = list(sorted(all_subsets[i]))
            if value not in dataset:
                found = False
        if found == True:
            final_ck.append(candidate)

    return ck,final_ck

def generateL(ck,min_support):
    support_ck = {}
    for val in Transaction1:
        for val1 in ck:
            value = set(val)
            value1 = set(val1)

            if value1.issubset(value):
                if tuple(val1) not in support_ck:
                    support_ck[tuple(val1)] = 1
                else:
                    support_ck[tuple(val1)] += 1
    frequent_item = []
    for item_set in support_ck:
        if support_ck[item_set] >= min_support:
            frequent_item.append(sorted(list(item_set)))
            Frequent_items_value[item_set] = support_ck[item_set]

    return frequent_item

# main apriori algorithm function
def apriori(L1,min_support):
    k = 2;
    L = []
    L.append(0)
    L.append(L1)
    print("enter max_leaf_count")              #maximum number of items in bucket i.e. bucket capacity of each node
    max_leaf_count = int(input())
    print("enter max_child_count")             #maximum number of child you want for a node
    max_child_count = int(input())

    start = time.time()
    while(len(L[k-1])>0):
        ck,final_ck = apriori_generate(L[k-1],k)                 #to generate candidate itemsets
        #print("C%d" %(k))
        #print(final_ck)
        h_tree = generate_hash_tree(ck,max_leaf_count,max_child_count)       #to generate hashtree
        if (k > 2):
            while(len(L[k-1])>0):
                l = generateL(final_ck, min_support)
                L.append(l)
                #print("Frequent %d item" % (k))
                #print(l)
                k = k + 1
                ck, final_ck = apriori_generate(L[k - 1], k)
                #print("C%d" % (k))
                #print(final_ck)
            break
        k_subsets = generate_k_subsets(Transaction1,k)                  #to generate subsets of each transaction
        for subset in k_subsets:
            h_tree.add_support(subset)                                  #to add support count to itemsets in hashtree
        lk = []
        h_tree.get_frequent_itemsets(h_tree.root,min_support,lk)                  #to get frequent itemsets
        #print("Frequent %d item" %(k))
        #print(lk)
        L.append(lk)
        k = k + 1
    end = time.time()
    return L,(end-start)


L_value,time_taken = apriori(values,min_support)
print("Time Taken is:")
print(time_taken)
#print("final L_value")
#print(L_value)
print("All frequent itemsets with their support count:")
print(Frequent_items_value)

Enter the filename:
transformed.txt
Enter the minimum support count:
28
enter max_leaf_count
1
enter max_child_count
2
Time Taken is:
0.02284526824951172
All frequent itemsets with their support count:
{('5', '9'): 38, ('6', '2'): 40, ('6', '3'): 37, ('7', '4', '6'): 41, ('1', '0', '4', '2'): 70, ('1', '1', '0', '5'): 62, ('1', '3', '0', '9'): 49, ('6', '9', '2'): 60, ('6', '9', '9'): 46, ('7', '0', '1'): 56, ('1', '0', '1', '6'): 54, ('1', '3', '5', '4'): 37, ('9', '4', '0'): 53, ('9', '4', '3'): 67, ('1', '0', '4', '8'): 49, ('1', '2', '3', '0'): 30, ('1', '3', '3', '2'): 48, ('8', '3', '7'): 40, ('1', '5', '0', '2'): 29, ('6', '9', '4'): 47, ('3', '6', '1'): 39, ('1', '2', '5', '1'): 54, ('1', '2', '5', '2'): 50, ('3', '3'): 28, ('9', '3', '8'): 66, ('6', '8', '9'): 33, ('9', '4', '1'): 32, ('1', '2', '3', '2'): 52, ('1', '3', '0', '4'): 28, ('8', '5', '2'): 32, ('1', '1', '0', '3'): 42, ('1', '0', '1'): 30, ('6', '2', '2'): 38, ('1', '0', '1', '2'): 38, ('1', '0', '2', '0'): 28, ('1', '0', '7', '3'): 34, ('6', '3', '0'): 30, ('6', '8', '6'): 49, ('2', '5', '1'): 28, ('9', '6', '8'): 73, ('59', '62'): 29, ('59', '63'): 31, ('62', '63'): 29, ('940', '943'): 41, ('938', '940'): 35, ('938', '943'): 40, ('1251', '1252'): 48, ('1232', '1251'): 40, ('1232', '1252'): 40, ('1232', '1251', '1252'): 39}

**A support of 28 corresponds to the support of 0.07% for apriori**<br>
The number of frequent itemsets is the same

In [0]:
len(Frequent_items_value.keys())

50

But the exact frequent item sets differ

In [0]:
list(Frequent_items_value.keys())

[('5', '9'),
 ('6', '2'),
 ('6', '3'),
 ('7', '4', '6'),
 ('1', '0', '4', '2'),
 ('1', '1', '0', '5'),
 ('1', '3', '0', '9'),
 ('6', '9', '2'),
 ('6', '9', '9'),
 ('7', '0', '1'),
 ('1', '0', '1', '6'),
 ('1', '3', '5', '4'),
 ('9', '4', '0'),
 ('9', '4', '3'),
 ('1', '0', '4', '8'),
 ('1', '2', '3', '0'),
 ('1', '3', '3', '2'),
 ('8', '3', '7'),
 ('1', '5', '0', '2'),
 ('6', '9', '4'),
 ('3', '6', '1'),
 ('1', '2', '5', '1'),
 ('1', '2', '5', '2'),
 ('3', '3'),
 ('9', '3', '8'),
 ('6', '8', '9'),
 ('9', '4', '1'),
 ('1', '2', '3', '2'),
 ('1', '3', '0', '4'),
 ('8', '5', '2'),
 ('1', '1', '0', '3'),
 ('1', '0', '1'),
 ('6', '2', '2'),
 ('1', '0', '1', '2'),
 ('1', '0', '2', '0'),
 ('1', '0', '7', '3'),
 ('6', '3', '0'),
 ('6', '8', '6'),
 ('2', '5', '1'),
 ('9', '6', '8'),
 ('59', '62'),
 ('59', '63'),
 ('62', '63'),
 ('940', '943'),
 ('938', '940'),
 ('938', '943'),
 ('1251', '1252'),
 ('1232', '1251'),
 ('1232', '1252'),
 ('1232', '1251', '1252')]

**Add Titles back to the column positions**

In [0]:
frequent_items_cols = [tuple([basket_sets_france.columns[int(y)] for y in list(x)]) for x in list(Frequent_items_value.keys())]

In [0]:
frequent_items_sup = [(Frequent_items_value.get(x)/392.0) for x in list(Frequent_items_value.keys())]

In [0]:
d = {'support':frequent_items_sup,'itemsets':frequent_items_cols}
frequent_itemsets2 = pd.DataFrame(d)
frequent_itemsets2

     support                                           itemsets
0   0.096939  (12 PENCILS SMALL TUBE RED RETROSPOT, 12 PENCI...
1   0.102041  (12 PENCILS SMALL TUBE SKULL, 12 EGG HOUSE PAI...
2   0.094388  (12 PENCILS SMALL TUBE SKULL, 12 MESSAGE CARDS...
3   0.104592  (12 PENCILS TALL TUBE POSY, 12 PENCIL SMALL TU...
4   0.178571  (12 COLOURED PARTY BALLOONS, 10 COLOUR SPACEBO...
5   0.158163  (12 COLOURED PARTY BALLOONS, 12 COLOURED PARTY...
6   0.125000  (12 COLOURED PARTY BALLOONS, 12 MESSAGE CARDS ...
7   0.153061  (12 PENCILS SMALL TUBE SKULL, 12 PENCILS TALL ...
8   0.117347  (12 PENCILS SMALL TUBE SKULL, 12 PENCILS TALL ...
9   0.142857  (12 PENCILS TALL TUBE POSY, 10 COLOUR SPACEBOY...
10  0.137755  (12 COLOURED PARTY BALLOONS, 10 COLOUR SPACEBO...
11  0.094388  (12 COLOURED PARTY BALLOONS, 12 MESSAGE CARDS ...
12  0.135204  (12 PENCILS TALL TUBE WOODLAND, 12 PENCIL SMAL...
13  0.170918  (12 PENCILS TALL TUBE WOODLAND, 12 PENCIL SMAL...
14  0.125000  (12 COLOURED PARTY BALLOONS, 10 COLOUR SPACEBO...
15  0.076531  (12 COLOURED PARTY BALLOONS, 12 EGG HOUSE PAIN...
16  0.122449  (12 COLOURED PARTY BALLOONS, 12 MESSAGE CARDS ...
17  0.102041  (12 PENCILS TALL TUBE RED RETROSPOT, 12 MESSAG...
18  0.073980  (12 COLOURED PARTY BALLOONS, 12 PENCILS SMALL ...
19  0.119898  (12 PENCILS SMALL TUBE SKULL, 12 PENCILS TALL ...
20  0.099490  (12 MESSAGE CARDS WITH ENVELOPES, 12 PENCILS S...
21  0.137755  (12 COLOURED PARTY BALLOONS, 12 EGG HOUSE PAIN...
22  0.127551  (12 COLOURED PARTY BALLOONS, 12 EGG HOUSE PAIN...
23  0.071429  (12 MESSAGE CARDS WITH ENVELOPES, 12 MESSAGE C...
24  0.168367  (12 PENCILS TALL TUBE WOODLAND, 12 MESSAGE CAR...
25  0.084184  (12 PENCILS SMALL TUBE SKULL, 12 PENCILS TALL ...
26  0.081633  (12 PENCILS TALL TUBE WOODLAND, 12 PENCIL SMAL...
27  0.132653  (12 COLOURED PARTY BALLOONS, 12 EGG HOUSE PAIN...
28  0.071429  (12 COLOURED PARTY BALLOONS, 12 MESSAGE CARDS ...
29  0.081633  (12 PENCILS TALL TUBE RED RETROSPOT, 12 PENCIL...
30  0.107143  (12 COLOURED PARTY BALLOONS, 12 COLOURED PARTY...
31  0.076531  (12 COLOURED PARTY BALLOONS, 10 COLOUR SPACEBO...
32  0.096939  (12 PENCILS SMALL TUBE SKULL, 12 EGG HOUSE PAI...
33  0.096939  (12 COLOURED PARTY BALLOONS, 10 COLOUR SPACEBO...
34  0.071429  (12 COLOURED PARTY BALLOONS, 10 COLOUR SPACEBO...
35  0.086735  (12 COLOURED PARTY BALLOONS, 10 COLOUR SPACEBO...
36  0.076531  (12 PENCILS SMALL TUBE SKULL, 12 MESSAGE CARDS...
37  0.125000  (12 PENCILS SMALL TUBE SKULL, 12 PENCILS TALL ...
38  0.071429  (12 EGG HOUSE PAINTED WOOD, 12 PENCILS SMALL T...
39  0.186224  (12 PENCILS TALL TUBE WOODLAND, 12 PENCILS SMA...
40  0.073980  (ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...
41  0.079082  (ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...
42  0.073980  (ALARM CLOCK BAKELIKE PINK, ALARM CLOCK BAKELI...
43  0.104592  (PLASTERS IN TIN SPACEBOY, PLASTERS IN TIN WOO...
44  0.089286  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
45  0.102041  (PLASTERS IN TIN CIRCUS PARADE, PLASTERS IN TI...
46  0.122449  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...
47  0.102041  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
48  0.102041  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
49  0.099490  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...

In [0]:
rules = association_rules(frequent_itemsets2, metric="lift", min_threshold=1, support_only=True)
print(rules.shape)
rules.head(10)

(0, 9)

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []